@import 'nib'

#home-page

  .sign-out
    float right
    width 10em
    margin-top 2em

  .list-header
    font-size 1.2em

  .list-cell
    margin-top 0

  .odd
    background-color #EEE

  .even
    background-color white

  .of-interest
    background-color #999
    color white
